<div>
    <select [(ngModel)]="instrument">
        <option>bass-electric</option>
        <option>bassoon</option>
        <option>cello</option>
        <option>clarinet</option>
        <option>contrabass</option>
        <option>flute</option>
        <option>french-horn</option>
        <option>guitar-accoustic</option>
        <option>guitar-electric</option>
        <option>guitar-nylon</option>
        <option>harmonium</option>
        <option>harp</option>
        <option>organ</option>
        <option>piano</option>
        <option>saxophone</option>
        <option>trombone</option>
        <option>trumpet</option>
        <option>tuba</option>
        <option>violin</option>
        <option>xylophone</option>
    </select>
    <br />
    <textarea [(ngModel)]="notes"></textarea>
</div>